In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [ ]:
### The first row allows me to see all columns in df, while the second all rows in schema_df.

In [ ]:
pd.set_option('display.max_columns',114)
pd.set_option('display.max_rows',87)

In [ ]:
df.head(10) # df.tail(n) to visualize last rows.
df.shape
df.info()

In [ ]:
### df = pd.DataFrame(dictionary) -> create a df from a dictionary having
### values (rows) as lists and keys corresponding to each column.

In [ ]:
### A df is a container for multiple Series objects' (single column of rows).

In [ ]:
df['Age'].value_counts()

In [ ]:
type(df['Age'])

In [ ]:
df.Age

In [ ]:
# Not a series anymore -> just a filtered df

In [ ]:
df[['Age','Country']]

In [ ]:
df.columns # Series containing values of the first row of data.

In [ ]:
df.iloc[[0,1]] # integer location.

In [ ]:
df.iloc[[0,1],[1,2]]

In [ ]:
# df.loc[] -> searching by label for rows (indexes) -> this will make sense later
# I can pass a list as a second inner [] argument

In [ ]:
df.loc[[0,1],['RemoteWork','Country']]

In [ ]:
df.loc[0,'Country']

In [ ]:
df.loc[0:2,'Country':'LanguageAdmired'] # 2nd slice item is INCLUSIVE.

#### Index customization instead of default integer identifier for rows -> set unique labels

In [ ]:
df.index

In [ ]:
df.set_index('Country', inplace=True)

In [ ]:
# iloc still works.

In [ ]:
df.loc['Canada','EdLevel']

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId') # Alternative to set_index()
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname') # Changing index for the schema.

In [ ]:
schema_df.loc['BuildvsBuy']

#### What if I wanted to see complete text?

In [ ]:
schema_df.loc['BuildvsBuy','question']

In [ ]:
df.loc[39,'BuildvsBuy']

In [ ]:
schema_df.sort_index(ascending=False).head() # Sort indexes in alphabetical order -> optionally: inplace=True

In [ ]:
filt = (df['Country'] == 'Canada')
filt # series of True / False values.

In [ ]:
df[filt]

In [ ]:
# df[df['Country'] == 'Canada']

In [ ]:
df.loc[filt, 'Age'] # filt (1st argument) represents rows.

In [ ]:
filt2 = (df['Employment'] == 'Student, full-time') & (df['Age'] == '18-24 years old')
df.loc[filt2, ['MainBranch','YearsCode','LanguageHaveWorkedWith']]

In [ ]:
# | as 'or' operator + if I want the opposite of a filter -> tilda before filt: df[~filt]
# logical values are allowed of course.

In [ ]:
countries = ['India','Germany','Canada']
filt3 = df['Country'].isin(countries)
df.loc[filt3,'Country']

In [ ]:
df['LanguageHaveWorkedWith']

In [ ]:
filt4 = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [ ]:
df.loc[filt4, 'LanguageHaveWorkedWith']

In [ ]:
# df.columns = ['first_name'] as dimnames in R.

In [ ]:
# df.rename(columns={'first_name':'first'}, inplace=True) -> nameToChange : newName

In [ ]:
df.columns = [x.upper() for x in df.columns]

In [ ]:
# df.columns = df.columns.str.replace(' ','_')

In [ ]:
df.loc[2]

In [ ]:
# df.loc[2] = [...] -> pass a list to substitute each element in the row.

In [ ]:
# I can use df.at[] instead of df.loc[]

In [ ]:
df.loc[2,['EMPLOYMENT','REMOTEWORK']] = ['jobs_act','rem']
df.loc[2,'CHECK'] = 'kiwis'
df.loc[2]

In [ ]:
# filt = df(['email'] == 'mf@gmail.com')
# df[filt]['surname'] = 'tutuf'
# ERROR!!!!!!! -> value set on a temporary object that will immediately go away.
# always use .loc[] or .at[]

In [ ]:
df['CHECK'] = df['CHECK'].str.lower()

#### 4 useful methods:
#### apply() to every item in our series
#### applymap works only on df, not series objects
#### map works on series only
#### replace

In [ ]:
df['CHECK'].apply(len)

In [ ]:
def update_check(check):
    return check.upper()

In [ ]:
df['CHECK'] = df['CHECK'].apply(update_check)

In [ ]:
df['CHECK'] = df['CHECK'].apply(lambda x: x.lower()) # lambda functions.

In [ ]:
df.apply(len) # apply() function to each series.

In [ ]:
df.apply(len,axis='columns') # 'rows' is default.

##
df.applymap(str.lower) --
df.applymap(len) --
df.apply(lambda x: x.min()) --
df.apply(pd.Series.min) which should return the first string in alphabetical order.

In [ ]:
df['COUNTRY'].map({'canada':'cd'})
# values we did not substitute are converted to NaN.

In [ ]:
df['COUNTRY'] = df['COUNTRY'].replace({'canada':'cd'})

In [ ]:
df.rename(columns={'COMPTOTAL':'salaryUSD'}, inplace=True)

In [ ]:
# Good for binary outcomes -> eg hobbyist yer or no?

In [ ]:
df['COUNTRY'] = df['COUNTRY'].map({'cd':True, 'united states of america':False}) # Alternatively, use replace()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [ ]:
pd.set_option('display.max_columns',114)
pd.set_option('display.max_rows',87)

In [ ]:
df.set_index('ResponseId', inplace=True)

##### The line below is essential for using the split() method later on.

In [ ]:
df['Country'] = df['Country'].str.replace(' ','_')
df['Age'] = df['Age'].str.replace(' ','_')

In [ ]:
df['Country'] + ' ' + df['Age']

In [ ]:
df['Combined'] = df['Country'] + ' ' + df['Age']

In [ ]:
df.drop(columns=['Country','Age'], inplace=True)

In [ ]:
df['Combined'].str.split(' ', expand=True)

In [ ]:
df[['Country','Age']] = df['Combined'].str.split(' ', expand=True)

In [ ]:
df._append({'Employment':'Busy'}, ignore_index=True)

#### Unifying two data frames

In [1]:
respondents = {
    'Employment':['Manager','Teacher'],
    'Country':['Italy','Italy']
}

In [4]:
df2 = pd.DataFrame(respondents)

In [5]:
df2.head()

  Employment Country
0    Manager   Italy
1    Teacher   Italy

##### sort kwarg avoids columns to be automatically sorted + _append does not have inplace

In [ ]:
df = df._append(df2,ignore_index=True,sort=False)

In [ ]:
df.drop(index=65437, inplace=True)

In [ ]:
filt = df['Country'] == 'Italy'
df.drop(index=df[filt].index)

##### If country is equal, CompTotal is considered

In [ ]:
df.sort_values(by=['Country','CompTotal'],ascending=[False,True],
               inplace=True)

In [ ]:
df.sort_index()

In [ ]:
df['Age'].sort_values()

In [ ]:
df.sort_values(by='Country',inplace=True)

In [ ]:
df.sort_values(by=['Country','CompTotal'],ascending=[True,False],
               inplace=True)

In [ ]:
df[['Country','CompTotal']].head(50)

In [ ]:
df['CompTotal'].nlargest(10)

In [ ]:
df.nsmallest(10,'CompTotal')

## Aggregation Functions

In [ ]:
df['CompTotal'].median()

##### cfr summary() in R
##### 'count' is counting the number of non-NaN responses

In [ ]:
df.describe()

In [ ]:
df['CompTotal'].count()

In [ ]:
df['LanguageWantToWorkWith'].value_counts(normalize=True) # Output as %

#### SPLIT - APPLY FUNCTION - COMBINE RESULTS

In [ ]:
df['Country'].value_counts()

#### split

In [ ]:
dfGroupBy_object = df.groupby(['Country'])

In [ ]:
dfGroupBy_object.get_group('India')

In [ ]:
# very similar to a filter.
filt = df['Country'] == 'India'
df.loc[filt]

#### apply & grouping

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWantToWorkWith'].value_counts()

In [ ]:
dfGroupBy_object['LanguageWantToWorkWith'].value_counts().head(50)

In [ ]:
dfGroupBy_object['LanguageWantToWorkWith'].value_counts().loc['China']

In [ ]:
dfGroupBy_object['CompTotal'].median()

In [ ]:
dfGroupBy_object['CompTotal'].median().loc['Italy']

In [ ]:
dfGroupBy_object['CompTotal'].agg(['median','mean']).loc['Italy']

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').value_counts(normalize=True)

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
# dfGroupBy_object['LanguageHaveWorkedWith'].str.contains('Python').sum()
# ERROR!!!

In [ ]:
dfGroupBy_object['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [ ]:
dfGroupBy_object['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python',na=False).value_counts(normalize=True))
# I had forgotten na=False -> if not used, NaN is not considered in the total number of responses per country (neither True nor False)

In [ ]:
country_respondents = df['Country'].value_counts()
country_pythoners = dfGroupBy_object['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
python_df = pd.concat([country_respondents,country_pythoners],axis='columns',sort=False)
python_df.rename(columns={'count':'NumRespondents','LanguageHaveWorkedWith':'NumKnowsPython'}, inplace=True)
python_df

In [ ]:
python_df['%_knowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])*100

In [ ]:
python_df.sort_values(by='%_knowsPython', ascending=False, inplace=True)
python_df.head(50)

In [ ]:
python_df.loc['Japan']

## Casting Datatypes and Handling Missing Values

#### None, np.nan, 'NA', 'Missing' (customized)

In [ ]:
df.dropna(axis='index', how='any') # default arguments
# -> dropping rows if there is at least 1 missing value.

In [ ]:
df.dropna(axis='columns', how='all')

In [ ]:
df.dropna(axis='index', how='all', subset=['Country'])
# subset kwarg does not work if axis='column'

In [ ]:
df.dropna(axis='index', how='all', subset=['Country','Employment'])
# either or when how='all' -> with 'any', column is dropped if 1 is missing.

In [ ]:
import numpy as np
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

In [ ]:
df.isna()

In [ ]:
df.fillna('MISSING', inplace=False)
# I may want to turn NaN into 0 when carrying out numerical computations.

In [ ]:
df.dtypes # attribute

In [ ]:
# df['Employment'].mean() -> you never want to do that!!!

In [ ]:
# NaN value is a float under the hood.
type(np.nan)

In [ ]:
df['JobSat'] = df['JobSat'].astype(float)

In [ ]:
df['CompTotal'].mean()

In [ ]:
# df.astype(...) -> useless when we have mixed columns.

In [ ]:
na_vals = ['NA','Missing']
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId',
                 na_values=na_vals)

In [ ]:
df['YearsCode'].head(10)

In [ ]:
df['YearsCode'].unique() # method

In [ ]:
df['YearsCode'].replace('Less than 1 year',0,inplace=True)
df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].mean()
df['YearsCode'].median()

## Date and Time Series Data

In [ ]:
import pandas as pd
df = pd.read_csv('ETH_1h.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.loc[0,'Date'] # string

##### specify datetime format -> formatting string
##### https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
##### easier to just insert a kwarg when loading the file, BUT alternative:
##### df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')

In [ ]:
df['Date']

##### x is the variable (each index)
##### d_parser = lambda x: pd.datetime.strptime(x,'%Y-%m-%d %I-%p')
##### kwarg date_parser=d_parser is deprecated -> use date_format instead

In [ ]:
df = pd.read_csv('ETH_1h.csv', parse_dates=['Date'], date_format='%Y-%m-%d %I-%p')

In [ ]:
df.loc[0,'Date'].day_name()

In [ ]:
df['Date'].dt.day_name() # dt class on Series object

In [ ]:
df['DayOfWeek'] = df['Date'].dt.day_name()

In [ ]:
df['Date'].min()

In [ ]:
df['Date'].max()

In [ ]:
df['Date'].max() - df['Date'].min() # time delta

In [ ]:
filt = (df['Date'] >= '2019') & (df['Date'] < '2020')
df.loc[filt]

In [ ]:
# Alternative
filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))

In [ ]:
df.set_index('Date',inplace=True)

In [ ]:
df.loc['2019']

In [ ]:
# slicing - 2nd item is inclusive
df = df.sort_index()
df.loc['2020-01':'2020-02']

In [ ]:
df.loc['2020-01':'2020-02']['Close'].mean()

In [ ]:
 df.loc['2020-01-01']['High'].max()

### Resampling

In [ ]:
highs = df['High'].resample('D').max()
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

In [ ]:
highs['2020-01-01']

In [ ]:
%matplotlib inline

In [ ]:
highs.plot()

In [ ]:
# df.resample('W').mean()
# Same aggregation method for each column in the df -> useless if there are many data types in the df.

In [ ]:
df.resample('W').agg({'Close':'mean', 'High':'max', 'Low':'min', 'Volume':'sum'})

## Reading/Writing Data to Different Sources

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname')

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
df.head()

In [ ]:
filt = (df['Country'] == 'India')
india_df = df.loc[filt]
india_df.head()

In [ ]:
india_df.to_csv('modified.csv')

In [ ]:
india_df.to_csv('modified.tsv', sep='\t')

In [ ]:
india_df.to_excel('modified.xlsx')

In [ ]:
test = pd.read_excel('modified.xlsx', index_col='ResponseId')

In [ ]:
test

In [ ]:
india_df.to_json('modified.json', orient='records', lines=True)

In [ ]:
test = pd.read_json('modified.json', orient='records', lines=True)

In [ ]:
test

## SQL

In [ ]:
from sqlalchemy import create_engine
import psycopg2

In [ ]:
engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db')

In [ ]:
india_df.to_sql('sample_table', engine, if_exists='replace')

In [ ]:
sql_df = pd.read_sql('sample_table', engine, index_col='ResponseId')

In [ ]:
sql_df.head()

In [ ]:
sql_df = pd.read_sql_query('SELECT * FROM sample_table', engine, index_col='ResponseId')

In [ ]:
sql_df.head()

##### Reading URLs

In [ ]:
posts_df = pd.read_json('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Flask_Blog/snippets/posts.json')

In [ ]:
posts_df.head()